body {
  background-image: url("backgrounds/golden_champagne.jpeg");
  background-color: #fff;
  height: 100vh;
  overflow-y: hidden;
}
.brides-party-bg {
  background-image: url("backgrounds//pink_champagne.jpeg");
  background-color: #fff;
  height: 100vh;
  overflow-y: hidden;
  background-position: -22px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grooms-party-bg {
  background-image: url("backgrounds/scotch_and_cigar.jpeg");
  background-color: #fff;
  height: 100vh;
  overflow-y: hidden;
  background-position: -610px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-bg {
  background-color: #000;
  color: white;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
}

.grooms-party-title {
  color: #d3d3d3;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: center;
  width: 100vw;
  line-height: 1.21;
  font-size: 48px;
  height: fit-content;
  letter-spacing: normal;
}

.brides-party-title {
  color: #4e4e4e;
  font-weight: 400;
  font-family: "Snell Roundhand", cursive;
  text-align: center;
  width: 100vw;
  line-height: 1.21;
  font-size: 56px;
  height: fit-content;
  letter-spacing: normal;
}

.App-list {
  /* position: absolute; */
  text-align: left;
  /* top: 20vh;
  left: 5vw;
  right: 5vw;
  bottom: 5vh; */
  width: 80%;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.App-list::-webkit-scrollbar {
  display: none;
}

.poppy-App-bg {
  background-color: #000;
  color: white;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.App-cell {
  background: rgba(86,94.5,80.5,0.35);
  color: white;
  width: 100%;
  height: 12vh;
  padding: 0px;
  border-radius: 5px;
  margin-top: 10px;
  border-width: 1px;
  border-color: rgba(172,189,161,0.6);
  border-style: hidden hidden solid solid;
}

.App-cell-title {
  background-color: transparent;
  font-family: "Times New Roman", Times, serif;
  width: auto;
  height: auto;
  font-size: medium;
  text-overflow: ellipsis;
  margin: 2%;
  justify-content: center;
}

.App-cell-desc {
  background-color: transparent;
  width: auto;
  height: fit-content;
  max-height: 6vh;
  font-size: small;
  margin: 2%;
}

.App-cell-datetime {
  background-color: transparent;
  width: auto;
  height: auto;
  font-size: small;
  margin: 2%;
  text-overflow: ellipsis;
}

.App-link {
  color: #61dafb;
}
