body {
  background-color: black;
  height:  100vh;
  overflow-y: hidden;
}
.App {
  text-align: center;
  justify-content: center;
  background-color: #000;
}

.App-Bg-Div {
  background-color: #000;
  color: white;
  overflow: hidden;
}

.App-bg {
  background-color: #000;
  color: white;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
}

.App-title {
  color: #B2AC88;
  background-color: red;
  position: absolute;
  font-family: 'Abril Fatface', cursive;
  text-align: left;
  top: 5vh;
  left: 10vw;
  right: 10vw;
  height: 10vh;
}

.App-list {
  background-color: green;
  position: absolute;
  text-align: left;
  top: 15vh;
  left: 10vw;
  right: 10vw;
  bottom: 10vw;
  overflow: scroll;
}

.poppy-App-bg {
  background-color: #000;
  color: white;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.App-cell {
  background-color: aquamarine;
  color: white;
  width: 70vw;
  height: 10vh;
}
.App-cell-title {
  background-color: red;
  color: white;
  width: 70vw;
  height: 3vh;
  font-size: small;
}
.App-cell-desc {
  background-color: purple;
  color: white;
  width: 70vw;
  height: 3vh;
  font-size: small;
}

.App-cell-datetime {
  background-color: green;
  color: white;
  width: 70vw;
  height: 3vh;
  font-size: small;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
