body {
  background-color: black;
  height:  100vh;
}
.App {
  text-align: center;
  justify-content: center;
  background-color: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-Bg-Div {
  background-color: #000;
  color: white;
  overflow: hidden;
}

.App-bg {
  background-color: #000;
  color: white;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
}

.App-title {
  color: #B2AC88;
  position: absolute;
  font-family: 'Abril Fatface', cursive;
  width: 100vw;
  text-align: left;
  top: 20px;
  left: 40px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
